<div style="background:transparent !important" class="jumbotron d-flex align-items-center"> 
  <div class="container">

    <div class="row justify-content-center mb-3">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body" style="font-size:20px">
            <p class="mb-0">Hi! I am David, I'm a physicist and programmer. I love science, technology and music. 
              I really like personal websites and follow many personal blogs, this site is an attempt to emulate those who
              I admire. Welcome :slightly_smiling_face: </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pt-3">
      <div class="col-lg-9 text-left align-items-center">
        <div class="row d-flex align-items-center flex-wrap justify-content-center">
          <div class="col-md-3">
            <button class="btn btn-light" style="width: 100%" onclick="window.location.href='projects';">
              <i class="fas fa-briefcase"></i>
              Projects
            </button>
          </div>
          <div class="col-md-6 align-items-center" style="font-size:15px">
            <div class="mb-0 m-3">Check out my work on data sci&shy;ence and data analytics.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center  pt-3">
      <div class="col-lg-9 text-left align-items-center">
        <div class="row d-flex align-items-center flex-wrap justify-content-center">
          <div class="col-md-3">
            <button class="btn btn-light" style="width: 100%" onclick="window.location.href='blog';">
              <i class="fas fa-blog"></i>
              Blog
            </button>
          </div>
          <div class="col-md-6 align-items-center" style="font-size:15px">
            <p class="mb-0 m-3" style="word-break: normal; white-space: normal">Read my thougths and guides on Linux, science and data.</p>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>