<div class="row justify-content-center align-items-center">
  <div class="col-lg-3 col-md-3 text-center mt-1">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="assets/picCropped.png" alt="{{ site.title }}" class="circle-image wow animated fadeIn"
          data-wow-delay=".15s" style="max-width: 80%;">
      </div>
    </div>

  </div>

</div>

<div class="row justify-content-center align-items-center p-2">

  <div class="col-lg-9 col-md-9 text-center mt-4 wow animated fadeIn" data-wow-delay=".15s">
    <p style="font-size:18px">

      {{ site.description }}

    </p>

  </div>

</div>

<!--
<div class="row justify-content-center align-items-center p-5">
  <div class="col-md-1" style="width: 25%; flex: 0 0 25%;max-width: 25%;">
    <a class="btn btn-link btn-md btn-block p-3 wow animated fadeIn" href="projects" data-wow-delay=".15s">Projects</a>
  </div>

  <div class="col-md-1 offset-md-1" style="width: 25%; flex: 0 0 25%;max-width: 25%;">
    <a class="btn btn-link btn-md btn-block p-3 wow animated fadeIn" href="blog" data-wow-delay=".15s">Research blog</a>
  </div>
  <div class="col-md-1 offset-md-1" style="width: 25%; flex: 0 0 25%;max-width: 25%;">
    <a class="btn btn-link btn-md btn-block p-3 wow animated fadeIn" href="assets/Academic_CV.pdf"
      data-wow-delay=".15s">Academic CV</a>
  </div>
</div>
-->

<div class="row justify-content-center align-items-center p-5">
  <div class="col-md-3 text-center p-3">
    <a class="text wow animated fadeIn" href="projects" data-wow-delay=".15s">Projects</a>
  </div>
  <div class="col-md-3 text-center p-3">
    <a class="text wow animated fadeIn" href="blog" data-wow-delay=".15s">Blog</a>
  </div>
  <!-- <div class="col-md-3 text-center p-3">
    <a class="text wow animated fadeIn" href="assets/aCV/aCV.pdf" target="_blank" data-wow-delay=".15s">Academic CV</a>
  </div> -->
</div>